n8n Slack Agent
{
  "name": "learning test",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -176,
        64
      ],
      "id": "24c7d6a6-f71d-48d1-a769-df933191e658",
      "name": "When chat message received",
      "webhookId": "ff1310f4-c1d5-4716-bf79-350534feab26"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Request: {{ $json.chatInput || $json.blocks[0].elements[0].elements[1].text }}",
        "options": {
          "systemMessage": "You are a helpful assistant\n\n## Column headings\n-Worker Type\n-CF Employee ID\n-Job Profile\n-Job Category\n-Business Unit\n-Year-Month\n-Comp Grade txt\n-ZCF EVAL > Trended Worker> Grade 7 and below or Grade 8 and above\n-Location - Country\n-Job Family Group\n-Gender\n-Ethnicity\n-Tenure Category\n-Number of Direct Reports (Contingent Workers)\n-Number of Direct Reports (Employees)\n-CF Lookup Termination Date from Worker\n-Job Family\n-Hiring Source\n-Termination Reason\n-zCF Compensation Grade Grouping >Trended Worker\n-Year - Quarter for Trended Workers\n-QuarterCalc\n-Current Employee\n-End of Quarter Current Employee\n-Is End of Quarter\n-End of Quarter\n-Record Date\n-Location Hierarchy Superior Organization - Level 02 From Top (aka Region)\n-Location\n-Ethnicity (groups)\n-Age Group\n-Company\n-CF - Acquisition ID to Trended Worker\n-0-\n-Manager\n-Language\n-Email\n-Management Chain Level 03 From Worker\n-DNU Chuck Test CF EVA Management Chain Level 04 From Worker\n-FTE\n-Ending Headcount\n-Active Status\n-Manager_1\n-Management Level\n-12+ grade\n-Location - Country (groups)\n-CF - Business Unit (groups)\n-Employee Type\n-Cost Center\n-Ethnicity (groups) 2\n-Ethnic Group\n-CF - Business Unit (groups) 2\n-Compensation Grade (groups)\n-comp grade#\n-BU Custom\n-BU Custom (groups"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        16
      ],
      "id": "568fba7a-d3ab-47f1-8390-e5319b9eac78",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        224
      ],
      "id": "bf027c33-dba7-4db5-80f5-c9e945b57426",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4dGrW2blULQs2b4l",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://camos81.app.n8n.cloud/mcp/c5da92dc-a97f-40f1-b997-893683e07c73",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        352,
        192
      ],
      "id": "ebf96ffb-3e29-4881-b104-e5f47d52ddc9",
      "name": "MCP Client1"
    },
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "channelId": {
          "__rl": true,
          "value": "C09FX5NHPM5",
          "mode": "list",
          "cachedResultName": "all-polymetis"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        -96
      ],
      "id": "3ac087be-36b4-4406-91a1-6645363c978e",
      "name": "Slack Trigger",
      "webhookId": "3f61ea3f-5244-41f6-927c-efb8585a1394",
      "credentials": {
        "slackApi": {
          "id": "6F1vIf4GGLuW1JXD",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').item.json.channel }}",
          "mode": "id"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        560,
        16
      ],
      "id": "0050e7d0-fee0-4d32-b4f2-947032fef9c4",
      "name": "Send a message",
      "webhookId": "df300db1-cc7d-4acb-bb07-c583a1d5f8a0",
      "credentials": {
        "slackApi": {
          "id": "6F1vIf4GGLuW1JXD",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {
    "Slack Trigger": [
      {
        "json": {
          "user": "U09FX5N85RV",
          "type": "app_mention",
          "ts": "1758544355.455159",
          "client_msg_id": "624f2c51-9ea6-449f-b36f-57c68e43226d",
          "text": "<@U09GBPRS6JW> how many volunteers have the active status?",
          "team": "T09FX5N62LF",
          "blocks": [
            {
              "type": "rich_text",
              "block_id": "S+oMi",
              "elements": [
                {
                  "type": "rich_text_section",
                  "elements": [
                    {
                      "type": "user",
                      "user_id": "U09GBPRS6JW"
                    },
                    {
                      "type": "text",
                      "text": " how many volunteers have the active status?"
                    }
                  ]
                }
              ]
            }
          ],
          "channel": "C09FX5NHPM5",
          "event_ts": "1758544355.455159"
        }
      }
    ]
  },
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4ec2840d-c910-4f30-a3ef-cd5af3f21df8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "041f659e2ccce205779aa0c329f0f23a16dd6550950fa25f7d87575c2c937bc9"
  },
  "id": "TrwS5h3rLAWALPtK",
  "tags": []
}
